{% extends 'base_profile.html' %}



{% block profile-header %}

<section class="jumbotron">
    <div class="container">
        <header>
            <h2>CDRC - Competing Teams</h2>
        </header>
        <content class="row">
            <div class="searchBox col-sm-4">
                <h4>by Mediation Experience</h4>
                <form action="" method="GET">
                    {% for role in medExp_list %}
                        <div class="">
                            <label for="id_{{role}}">{{ role }}</label>
                            <input type="checkbox" name="id_{{role}}" value="{{ role.value }}" class="">
                        </div>
                    {% endfor %}
                </form>
            </div>
            <div class="searchBox col-sm-4">
                <h4>by Negotiation Experience</h4>
                <form action="" method="GET">
                    {% for role in negExp_list %}
                        <div class="">
                            <label for="id_{{role}}">{{role}}</label>
                            <input type="checkbox" name="id_{{role}}" value="{{role}}" class="">
                        </div>
                    {% endfor %}
                </form>
            </div>
            <div class="searchBox col-sm-4">
                <h4>Find an team</h4>
                <form method="POST" action="">
                    <table>
                        {{ search_form.as_table }}
                    </table>
                </form>
            </div>
        </content>
    </div>
</section>
{% endblock %}



{% block profile-content %}

    {% for team in team_list.all %}
    <a href="{% url 'portal:team_profile' team.slug %}">
        <article class="list_item row">
            <header class="col-sm-3">
                <small>{{ team.country }}</small>
                <h3>{{ team.university }}</h3>
                <h4>Languages spoken</h4>
                <p>{{ team.teamprofile.languages_spoken }}</p>
                <h4>Members</h4>
                <ul class="list-unstyled">
                    {% for member in team.student_set.all %}
                    <li>{{ member.user.get_full_name}}</li>
                    {% endfor %}
                </ul>
                <footer>
                {% comment %}<ul class="list-inline">
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Official</a></li>
                </ul>{% endcomment %}
            </footer>
            </header>
            <content class="col-sm-9">
                <img class="img-responsive" src="{% if team.profile.profileImg %}{{ team.profile.profileImg.url }}{% else %}https://placehold.it/1200x350{% endif %}" alt="">
                <h3>Description</h3>
                <p>{{ team.teamprofile.presentation_text|truncatewords:300 }}</p>

            </content>
            
        </article>
    </a>
{% endfor %}

{% endblock %}
