
<h2>Team Profile Registration</h2>
<p>Short introduction to the process here</p>
<h3>Team Information</h3>
<table>
    <tbody>
      
    </tbody>
</table>
{% comment %}
{% for member in teammembers %}
{% endcomment %}
<section>
    <header>
        <h3>Team Member Information</h3>
    </header>
    <content>
        {% for member, user_form in profile_form.items %}
        <article>
            <header>
                <h3>{{member}}</h3>
            </header>
            <content>
                <article>
                    <h4>General Information</h4>
                    <table>
                        <tbody>
                            {{ user_form.as_table }}
                        </tbody>
                    </table>
                </article>
                <article>
                    <h4>Negotiation Practice</h4>
                    <table>
                        <tbody>
                            {{ negExp_form.as_table}}
                        </tbody>
                    </table>
                </article>
                <article>
                    <h4>Mediation Practice</h4>
                    <table>
                        <tbody>
                            {{ medExp_form.as_table}}
                        </tbody>
                    </table>
                </article>
                
            </content>
            <footer>
                Contact Details
            </footer>
        </article>
        {% endfor %}
    </content>
</section>
{% comment %}
{% endfor %}
{% endcomment %}
