{% extends 'base.html' %}
{% comment %}Setting specific JS Imports for this section{% endcomment %}
{% block js-includes %}
{% endblock %}

{% comment %}Header and Navigation Section{% endcomment %}
{% block sub-navigation %}

    {% block subnavigation %}
    {% endblock subnavigation %}

{% endblock sub-navigation %}


{% comment %}Main content section{% endcomment %}
{% block content %}
    <div class="row profile-head">
        <div class="jumbotron">
            <div class="container">
                {% block profile-head %}
                {% endblock %}
            </div>
        </div>
    </div>
    <div class="container">
        
        <div class="row main">
            <section class="col-md-3 sidebar-left">
                {% block sidebar-left %}
                {% endblock %}
            </section>
            <section class="col-md-9 main-content">
                {% block main-content %}
                {% endblock %}
            </section>
        </div>
    </div>
{% endblock content %}