{% extends 'base.html' %}
{% comment %}Setting specific JS Imports for this section{% endcomment %}
{% block js-includes %}
{% endblock %}

{% comment %}Header and Navigation Section{% endcomment %}
{% block sub-navigation %}

    {% block subnavigation %}
    {% endblock subnavigation %}

{% endblock sub-navigation %}


{% comment %}Main content section{% endcomment %}
{% block content %}
    {% block sidebar %}
    {% endblock %}

    {% block main %}
    {% endblock main %}

{% endblock content %}