{% extends 'base.html' %}

{% block content %}
<h2>Profile</h2>
<form method="POST" action="">
    <table>
        <tbody>
            {% csrf_token %}
            {{ user_form.as_table }}
            {{ expert_form.as_table }}
          </tbody>
    </table>
    <table>
        <tbody>
        {% for form in negExp_list %}
            {{form.as_table}}
        {% endfor %}
        </tbody>
    </table>
    <h2>Mediation Experience</h2>
    {{ medExp_list }}
    <table>
        <tbody>
            {% if medExp_list %}
                medExp_list generated
                {% for form in medExp_list %}
                    {{ form.as_table }}
                {% endfor %}
            {% else %}
                no medExp_list
                {{ medExp_form.as_table}}
            {% endif %}
           
        </tbody>
    </table>


    <button type="submit">Save changes</button>
    </form>
{% endblock content %}